<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="node_os">Name:</label>
                            <input ng-if="resource.id" type="text" readonly class="form-control" id="node_os" value="{{resource.id}}">
                            <input ng-if="resource.name" type="text" readonly class="form-control" id="node_os" value="{{resource.name}}">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="node_os_version">Type:</label>
                            <input ng-if="resource.type" type="text" readonly class="form-control" id="node_os_version" value="{{resource.type}}">
                            <input ng-if="resource.resource_type" type="text" readonly class="form-control" id="node_os_version" value="{{resource.resource_type}}">
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="resource.uuid">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="node_platform">UUID:</label>
                            <input type="text" readonly class="form-control" id="node_platform" value="{{resource.uuid}}">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="current_node != null">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="node_state">URN:</label>
                            <input type="text" readonly class="form-control" id="node_state" value="{{resource.urn}}">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="resource.of_controller_ip">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="node_fog_agent">Address:</label>
                            <input type="text" readonly class="form-control" id="node_fog_agent" value="{{resource.of_controller_ip.address}}">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="node_fog_agent_version">Netmask:</label>
                            <input type="text" readonly class="form-control" id="node_fog_agent_version" value="{{resource.of_controller_ip.netmask}}">
                        </div>
                    </div>
                </div>
                <div ng-show="resource.interfaces">
                    Interfaces:
                    <div class="row" ng-repeat="interface in resource.interfaces">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label for="node_fog_agent">Name:</label>
                                <input type="text" readonly class="form-control" id="node_fog_agent" value="{{interface.name}}">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label for="node_fog_agent_version">MAC:</label>
                                <input type="text" readonly class="form-control" id="node_fog_agent_version" value="{{interface.mac}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="resource.control_ip">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="node_fog_agent">Address:</label>
                            <input type="text" readonly class="form-control" id="node_fog_agent" value="{{resource.control_ip.address}}">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="node_fog_agent_version">Netmask:</label>
                            <input type="text" readonly class="form-control" id="node_fog_agent_version" value="{{resource.control_ip.netmask}}">
                        </div>
                    </div>
                </div>
                <div ng-show="resource.e_node_bs">
                    Nodes:
                    <div class="row" ng-repeat="e_node in resource.e_node_bs">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label for="node_fog_agent">Name:</label>
                                <input type="text" readonly class="form-control" id="node_fog_agent" value="{{e_node.name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
                    <div class="panel panel-default" ng-repeat="panel in panels">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a bs-collapse-toggle style="cursor: pointer;">JSON format</a>
                            </h4>
                        </div>
                        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                            <div class="panel-body">
                                <pre class="beautify" ng-bind-html="jsonObj | prettify"></pre>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.box-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
