---
manager: http://127.0.0.1:4000
servicename: ns_provisioner
environment: development
address: 0.0.0.0
port: 4012
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
threaded: true
logstash_host: 127.0.0.1
logstash_port: 5228

mapping: http://localhost:4042
sla_enforcement: http://localhost:4016

#optional fields
default_tenant: true
default_tenant_name: tenor_tenant

dependencies: [ns_monitoring, vnf_manager, wicm, mAPI, mapping, hot_generator, infr_repository]

gk:
service_key:

#infr_repo: http://10.10.1.1:8080
#wicm: http://10.30.0.12:12891
