---
servicename: ns_provisioner
manager: localhost:4000
environment: development
address: 0.0.0.0
port: 4012
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
threaded: true
logger_host: 127.0.0.1
logger_port: 24224

mapping: http://localhost:4042
sla_enforcement: http://localhost:4016

#optional fields
default_tenant: true
default_user_name: tenor_user
default_user_password: tenor_user
default_tenant_name: tenor_tenant

dependencies: [ns_monitoring, vnf_manager, wicm, mAPI, mapping, hot_generator, infr_repository, netfloc]

gk:
service_key:

#infr_repo: http://10.10.1.1:8080
#wicm: http://10.30.0.12:12891

netfloc:
odl_username: admin
odl_password: admin
