<h3>Configuration</h3>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="x_panel">
            <div class="x_title">User account
            </div>
            <form action="">
                <fieldset>
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" placeholder="{{user.username}}" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label>Old password</label>
                        <input class="form-control" placeholder="Password" type="password" value="">
                    </div>
                    <div class="form-group">
                        <label>New password</label>
                        <input class="form-control" placeholder="Password" type="password" value="">
                    </div>
                    <div class="form-group">
                        <label>Repeat new password</label>
                        <input class="form-control" placeholder="Password" type="password" value="">
                    </div>
                </fieldset>
                <div>
                    <div class="btn btn-primary" disabled>
                        <i class="fa fa-save"></i> Submit
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="x_panel">
            <div class="x_title">Create new user
            </div>
            <form action="">
                <fieldset>
                    <div class="form-group">
                        <label>Username</label>
                        <input ng-model="user.username" class="form-control" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label>New password</label>
                        <input ng-model="user.password" class="form-control" placeholder="Password" type="password" value="">
                    </div>
                    <div class="form-group">
                        <label>Repeat new password</label>
                        <input ng-model="user.password2" class="form-control" placeholder="Password" type="password" value="">
                    </div>
                    <div class="form-group">
                        <label>Admin permissions</label>
                        <input ng-model="user.isadmin" type="checkbox" name="vehicle" value="y"> Admin user
                    </div>
                </fieldset>
                <div class="box-body">
                    <div class="form-group">
                        <button ng-click="registerUser(user)" type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
