<div id="alerts-container">
</div>
<h3 class="page-header">Generating a Network Service...</h3>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="">
                    <div class="row">
                        <section class="" resizable r-directions="['right']" r-flex="true" style="flex-basis: 50%; min-width: 20%; max-width: 80%">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-yellow">
                                        <form name="registerForm">
                                            <!-- ngModel is optional -->
                                            <div class="panel-group" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" ng-class="{ 'panel-header-error' : registerForm.information }">
                                                        <h4 class="panel-title"><a bs-collapse-toggle>Information</a></h4>
                                                    </div>
                                                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                                        <div class="panel-body">
                                                            <b>Name:</b>
                                                            <input type="text" ng-model="nsd.name" value="Name" ng-change="" class="form-control">
                                                        </div>
                                                        <div class="panel-body">
                                                            <b>Provider:</b>
                                                            <input type="text" ng-model="nsd.provider" value="Name" ng-change="" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" ng-class="{ 'panel-header-error' : registerForm.vnfds }">
                                                        <h4 class="panel-title">
                                <a bs-collapse-toggle>VNFs (>=1)</a>
                            </h4>
                                                    </div>
                                                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                                        <div class="panel-body">
                                                            <label ng-repeat="vnf in vnfs">
                                                                <input type="checkbox" checklist-model="nsd.vnfds" checklist-value="vnf.vnfd.id"> {{vnf.name}}({{vnf.vnfd.id}})
                                                            </label>
                                                            <div class="dropzone box box-red">
                                                                <ul dnd-list="nsd.A.columns">
                                                                    <li ng-repeat="item in nsd.A.columns" dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="nsd.A.columns.splice($index, 1)" dnd-selected="models.selected = item" ng-class="{selected: models.selected === item}" ng-include="item.type + '.html'">
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" ng-class="{ 'panel-header-error' : registerForm.sla }">
                                                        <h4 class="panel-title">
                                    <a bs-collapse-toggle>SLAs (>=1)</a>
                                </h4>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                                        <div class="panel-header">
                                                            <button class="btn btn-default pull-right" ng-click="addSla()">Add</button>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-8 col-sm-12 ng-scope" ng-repeat="sla in nsd.sla track by $index">
                                                                    <div class="box box-primary">
                                                                        <div class="box-header with-border">
                                                                            <h3 class="box-title ng-binding">SLA (sla{{$index}})</h3>
                                                                        </div>
                                                                        <div class="box-body">
                                                                            <div class="form-group col-md-10 col-sm-10">
                                                                                <b>Name:</b>
                                                                                <br/>
                                                                                <div class="form-group has-feedback" ng-class="{ 'has-error' : registerForm.sla[$index].sla_key }">
                                                                                    <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="sla.sla_key" required style="width: 50%">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-md-2 col-sm-2">
                                                                                <button type="button" class="btn btn-danger" ng-click="removeItems('sla')"><span class="glyphicon glyphicon-remove"></span></button>
                                                                            </div>
                                                                            <div class="form-group col-md-12 col-sm-12">
                                                                                <h5>Constituent VNFs:</h5>
                                                                                <button type="button" class="btn btn-success" ng-click="addConstituentVnf($index)"><span class="glyphicon glyphicon-plus"></span></button>
                                                                                <hr/>
                                                                                <div class="form-group col-md-12 col-sm-12" ng-repeat="constituent_vnf in sla.constituent_vnfs track by $index">
                                                                                    <label>VNFs:</label>
                                                                                    <button type="button" class="btn btn-default" ng-model="constituent_vnf.vnf_reference" data-html="1" bs-options="vnf for vnf in nsd.vnfds" bs-select required placeholder="choose">
                                                                                        Select <span class="caret" style="position: relative; z-index: 5000"></span>
                                                                                    </button>
                                                                                    <label>VNF Flavour:</label>
                                                                                    <button type="button" class="btn btn-default" ng-model="constituent_vnf.flavour_keys" data-html="1" bs-options="flavours.flavour_key as flavours.flavour_key for flavours in getFlavours(constituent_vnf.vnf_reference)" bs-select required placeholder="choose">
                                                                                        Select <span class="caret" style="position: relative; z-index: 5000"></span>
                                                                                    </button>
                                                                                    <button type="button" class="btn btn-danger" ng-click="removeConstituentVNF(sla.id, $index)"><span class="glyphicon glyphicon-remove"></span></button>
                                                                                    <div class="form-group col-md-12 col-sm-12">
                                                                                        <label>Instances:</label>
                                                                                        <input class="form-control" type="number" ng-model="constituent_vnf.number_of_instances" min="0" value="1">
                                                                                        <div class="clearfix"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/fieldset-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" ng-class="{ 'panel-header-error' : registerForm.information }">
                                                        <h4 class="panel-title"><a bs-collapse-toggle>Montoring parameters</a></h4>
                                                    </div>
                                                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                                        <div class="panel-body">
                                                            <div class="checkbox">
                                                                <label style="display: inline-block;width:200px;">
                                                                    <input type="checkbox" ng-model="selectedAll.value" ng-click="checkAll()">Check All
                                                                </label>
                                                                <label ng-repeat="m_metric in generic_monitoring_parameters" style="display: inline-block;width:200px;">
                                                                    <input type="checkbox" checklist-model="nsd.monitoring_parameters" checklist-value="m_metric"> {{m_metric.desc}}({{m_metric.unit}})
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" ng-class="{ 'panel-header-error' : registerForm.lifecycle_events }">
                                                        <h4 class="panel-title"><a bs-collapse-toggle>Lifecycle events (>=1)</a></h4>
                                                    </div>
                                                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                                        <div class="panel-body">
                                                            Start
                                                            <button class="btn btn-default pull-right" ng-click="addEvent('start')">Add start</button>
                                                            <fieldset data-ng-repeat="event in nsd.lifecycle_events.start track by $index">
                                                                VNF
                                                                <button type="button" class="btn btn-default" ng-model="event.vnf_id" data-html="1" bs-options="vnf for vnf in nsd.vnfds" bs-select required placeholder="choose">
                                                                    Select <span class="caret" style="position: relative; z-index: 5000"></span>
                                                                </button>
                                                                Flavour {{typeOf(event.vnf_id)}}
                                                                <button type="button" class="btn btn-default" ng-model="event.sla_ref_id" data-html="1" bs-options="sla.id as sla.id for sla in getEvents('start', event.vnf_id)" bs-select required placeholder="choose">
                                                                    Select <span class="caret" style="position: relative; z-index: 5000"></span>
                                                                </button>
                                                                <button type="button" class="btn btn-danger" ng-click="removeEvent('start', $index)"><span class="glyphicon glyphicon-remove"></span></button>
                                                            </fieldset>
                                                            Stop
                                                            <button class="btn btn-default pull-right" ng-click="addEvent('stop')">Add stop</button>
                                                            <fieldset data-ng-repeat="event in nsd.lifecycle_events.stop track by $index">
                                                                VNF
                                                                <button type="button" class="btn btn-default" ng-model="event.vnf_id" data-html="1" bs-options="vnf for vnf in nsd.vnfds" bs-select required placeholder="choose">
                                                                    Select <span class="caret" style="position: relative; z-index: 5000"></span>
                                                                </button>
                                                                Flavour
                                                                <button type="button" class="btn btn-default" ng-model="event.sla_ref_id" data-html="1" bs-options="sla.id as sla.id for sla in getEvents('stop', event.vnf_id)" bs-select required placeholder="choose">
                                                                    Select <span class="caret" style="position: relative; z-index: 5000"></span>
                                                                </button>
                                                                <button type="button" class="btn btn-danger" ng-click="removeEvent('stop', $index)"><span class="glyphicon glyphicon-remove"></span></button>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" ng-class="{ 'panel-header-error' : registerForm.lifecycle_events }">
                                                        <h4 class="panel-title"><a bs-collapse-toggle>Virtual links (>=1)</a></h4>
                                                    </div>
                                                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                                        <div class="panel-body">
                                                            SLA
                                                            <button class="btn btn-default pull-right" ng-click="addvLink('vld')">Add start</button>

                                                            FOr each SLA
                                                            <fieldset data-ng-repeat="vlink in nsd.vld.virtual_links track by $index">
                                                                <b>Alias:</b>
                                                                <input type="text" ng-model="nsd.alias" value="Name" ng-change="" class="form-control">
                                                                <b>Link-Type:</b>
                                                                <button type="button" class="btn btn-default" ng-model="vlink.connectivity_type" data-html="1" bs-options="vnf.type as vnf.description for vnf in connection_link_types" bs-select required placeholder="choose">
                                                                    Select <span class="caret" style="position: relative; z-index: 5000"></span>
                                                                </button>
                                                                <b>Connection Points:</b>
                                                                <div class="form-group col-md-12 col-sm-12">
                                                                    <h5>Constituent VNFs:</h5>
                                                                    <button type="button" class="btn btn-success" ng-click="addConnection($index)"><span class="glyphicon glyphicon-plus"></span></button>
                                                                    <hr/>
                                                                    <div class="form-group col-md-12 col-sm-12" ng-repeat="connection in vlink.connections track by $index">
                                                                        <button type="button" class="btn btn-default" ng-model="connection.connection" data-html="1" bs-options="vnf for vnf in nsd.vnfds" bs-select required placeholder="choose">
                                                                            Select <span class="caret" style="position: relative; z-index: 5000"></span>
                                                                        </button>
                                                                    </div>
                                                                </div>

                                                                <b>External Access:</b>
                                                                <input type="checkbox" ng-model="nsd.external_access">



                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button ng-click="submitNsd()" class="btn btn-success">Submit</button>
                        </section>

                        <!-- Sidebar -->
                        <section class="">
                            <h2>Generated Model</h2>
                            <pre>{{modelAsJson}}</pre>

                        </section>
                    </div>
                </div>
            </div>
        </div>
