<h3 class="page-header">Network Service Instances</h3>
<ol class="breadcrumb">
    <li class="active"><i class="fa fa-tasks"></i> <a ui-sref="root.nsInstances">Ns instances</a>
    </li>
    <li><i class="fa fa-tasks"></i> <a ui-sref="root.vnfInstances">VNF instances</a>
    </li>
</ol>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <table st-table="displayedCollection" st-safe-src="dataCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="id" class="col-sm-1 col-md-1 col-lg-1">Id</th>
                            <th data-title="'name'" class="col-sm-2 col-md-2 col-lg-2">NS id</th>
                            <th data-title="'name'" class="col-sm-1 col-md-1 col-lg-1">Vendor</th>
                            <th data-title="'name'" class="col-sm-1 col-md-1 col-lg-1">Version</th>
                            <th st-sort="status" data-title="'status'" class="col-sm-2 col-md-2 col-lg-2">Status</th>
                            <th st-sort="created_at" data-title="'created_at'" class="col-sm-2 col-md-2 col-lg-2">Creation date</th>
                            <th data-title="'actions'" class="col-sm-3 col-md-3 col-lg-3">Actions</th>
                        </tr>
                        <tr>
                            <th colspan="1">
                                <input st-search="id" class="form-control" placeholder="search by id ..." type="text" />
                            </th>
                            <th colspan="1">
                                <input st-search="nsd_id" class="form-control" placeholder="search by nsd ..." type="text" />
                            </th>
                            <th colspan="1">
                                <input st-search="vendor" class="form-control" placeholder="search by nsd ..." type="text" />
                            </th>
                            <th colspan="1">
                                <input st-search="version" class="form-control" placeholder="search by nsd ..." type="text" />
                            </th>
                            <th colspan="1">
                                <input st-search="status" class="form-control" placeholder="search by nsd ..." type="text" />
                            </th>
                            <th colspan="4">
                                <input st-search="" class="form-control" placeholder="global search ..." type="text" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in displayedCollection">
                            <td><a href="" ng-click="showDescriptor(row)">{{row.id}}</a></td>
                            <td>{{row.nsd_id}}</td>
                            <td>{{row.vendor}}</td>
                            <td>{{row.version}}</td>
                            <td>{{row.status}}
                                <div class="progress progress_sm">
                                  <div class="progress-bar progress-bar-striped" ng-class="{active: row.status!='INSTANTIATED'}" role="progressbar" data-transitiongoal="{{row.status | progress}}" style="width: {{row.status | progress}}%;" aria-valuenow="56"></div>
                                </div>
                            </td>
                            <td>{{row.created_at| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <button ng-click="go('/nsMonitoring/' + row.id)" class="btn btn-success btn-xs" ng-disabled="row.status !== 'INSTANTIATED' && row.status !== 'START'">Monitoring</button>
                                <button ng-click="scale_out(row.id)" class="btn btn-warning btn-xs" ng-enabled="row.status === 'INSTANTIATED'">Scale out</button>
                                <button ng-click="scale_in(row.id)" class="btn btn-warning btn-xs" ng-enabled="row.status === 'INSTANTIATED'">Scale in</button>
                                <button ng-click="stop(row.id)" class="btn btn-warning btn-xs" ng-enabled="row.status === 'INSTANTIATED'">Stop</button>
                                <button ng-click="start(row.id)" class="btn btn-success btn-xs" ng-enabled="row.status === 'STOPPED'">Start</button>
                                <button ng-click="deleteDialog(row.id)" class="btn btn-danger btn-xs" ng-disabled="">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="7">
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
