'use strict';

angular.module('tNovaApp.config', [])
    .constant('BACKEND', 'http://localhost:9000/')
    .constant('AUTHENTICATION', 'http://localhost:8000')
    .constant('TENOR', 'http://localhost:4000/')
    .constant('REPOSITORY', 'http://localhost:8888');
