---
development:
  sessions:
    default:
      database: vnf_provisioning
      hosts:
      - localhost:27017

test:
  sessions:
    default:
      database: vnf_provisioning_test
      hosts:
      - localhost:27017

production:
  sessions:
    default:
      database: vnf_provisioning
      hosts:
      - localhost:27017