---
servicename: vnfd-validator
environment: development
address: 0.0.0.0
port: 4570
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false

logstash_host: 84.88.40.160
logstash_port: 5228

xml_schema: assets/schemas/vnfd.xsd
json_schema: assets/schemas/vnfd_schema.json

gk: http://192.168.2.19:8000

service_key: 211f26ba-a410-44d9-9730-0a19ffb9ce44