---
servicename: vnfd_validator
manager: localhost:4567
environment: development
address: 0.0.0.0
port: 4570
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
threaded: true
logger_host: 127.0.0.1
logger_port: 24224

xml_schema: assets/schemas/vnfd.xsd
json_schema: assets/schemas/vnfd_schema.json

dependencies: []
