development:
  sessions:
    default:
      database: ns_manager
      hosts:
      - 127.0.0.1:27017

test:
  sessions:
    default:
      database: ns_manager_test
      hosts:
      - 127.0.0.1:27017

production:
  sessions:
    default:
      database: ns_manager
      hosts:
      - 127.0.0.1:27017
