---
servicename: hot_generator
manager: http://localhost:4000
environment: development
address: 0.0.0.0
port: 4571
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
logger_host: 127.0.0.1
logger_port: 24224
port_security: false

dependencies: []
