---
servicename: hot_generator
manager: http://localhost:4000
environment: development
address: 0.0.0.0
port: 4571
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
logstash_host: localhost
logstash_port: 5228
port_security: false

gk:
service_key:

dependencies: []