<div class="modal" tabindex="-1" role="dialog" ng-controller="PoPModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="pop_id" class="col-sm-4 control-label">Pop id (id which PoP will be identified)</label>
                        <div class="col-sm-8">
                            <input ng-model="dc_default.id" type="text" class="form-control" id="pop_id" ng-readonly="emptyId" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="msg" class="col-sm-4 control-label">Description</label>
                            <div class="col-sm-8">
                                <input ng-model="dc_default.msg" type="text" class="form-control" id="msg" value="" placeholder="description" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName" class="col-sm-4 control-label" ng-if="keystone_version == 'v2.0'">Tenant name</label>
                            <label for="tenantName" class="col-sm-4 control-label" ng-if="keystone_version == 'v3'">Domain</label>
                            <div class="col-sm-8">
                                <input ng-model="dc_default.tenantName" type="text" class="form-control" id="tenantName" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="adminName" class="col-sm-4 control-label">User</label>
                            <div class="col-sm-6">
                                <input ng-model="dc_default.adminName" type="text" class="form-control" id="adminName" value="admin" />

                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" ng-model="dc_default.isAdmin" value="true">Is admin?</label>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="adminPass" class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8">
                                <input ng-model="dc_default.adminPass" type="password" class="form-control" id="adminPass" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="openstack_ip" class="col-sm-4 control-label">Openstack IP</label>
                            <div class="col-sm-8">
                                <input ng-model="openstack_ip" type="text" class="form-control" id="openstack_ip" value="8.8.8.8" ng-change="updateOpenstackIP(openstack_ip)" placeholder="define openstack IP" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="keystone_api" class="col-sm-4 control-label">Keystone API</label>
                            <div class="col-sm-6">
                                <input ng-model="dc_default.keystone_api" type="text" class="form-control" id="openstack_ip" value="{{openstack_ip}}" />
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default" ng-model="keystone_version" data-html="1" bs-options="version.id as version.id for version in keystone_versions" bs-select placeholder="select" ng-change="updateOpenstackIP()">
                                  Action <span class="caret"></span>
                              </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName" class="col-sm-4 control-label">Heat API</label>
                            <div class="col-sm-6">
                                <input ng-model="dc_default.heat_api" type="text" class="form-control" id="openstack_ip" value="" />
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default" ng-model="heat_version" data-html="1" bs-options="version.id as version.id for version in heat_versions" bs-select placeholder="select" ng-change="updateOpenstackIP()">
                                  Action <span class="caret"></span>
                              </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName" class="col-sm-4 control-label">Compute API</label>
                            <div class="col-sm-6">
                                <input ng-model="dc_default.compute_api" type="text" class="form-control" id="openstack_ip" value="" />
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default" ng-model="compute_version" data-html="1" bs-options="version.id as version.id for version in compute_versions" bs-select placeholder="select" ng-change="updateOpenstackIP()">
                                  Action <span class="caret"></span>
                              </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName" class="col-sm-4 control-label">Neutron API</label>
                            <div class="col-sm-6">
                                <input ng-model="dc_default.neutron_api" type="text" class="form-control" id="openstack_ip" value="" />
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default" ng-model="neutron_version" data-html="1" bs-options="version.id as version.id for version in neutron_versions" bs-select placeholder="select" ng-change="updateOpenstackIP()">
                                  Action <span class="caret"></span>
                              </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName" class="col-sm-4 control-label">DNS</label>
                            <div class="col-sm-8">
                                <input ng-model="dc_default.dns" type="text" class="form-control" id="dns" value="8.8.8.8" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-sm-4"></div>
                        <div class="form-group col-sm-8">
                            <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse style="margin-bottom: 0px !important;">
                              <div class="panel panel-default" ng-repeat="panel in panels">
                                <div class="panel-heading" role="tab">
                                  <h4 class="panel-title">
                                    <a bs-collapse-toggle>
                                      Netfloc
                                    </a>
                                  </h4>
                                </div>
                                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                  <div class="panel-body">
                                      <label for="tenantName" class="col-sm-4 control-label">IP</label>
                                      <div class="col-sm-6">
                                          <input ng-model="dc_default.netfloc_ip" type="text" class="form-control" id="openstack_ip" value="" />
                                      </div>
                                      <label for="tenantName" class="col-sm-4 control-label">Username</label>
                                      <div class="col-sm-6">
                                          <input ng-model="dc_default.netfloc_user" type="text" class="form-control" id="openstack_ip" value="" />
                                      </div>
                                      <label for="tenantName" class="col-sm-4 control-label">Password</label>
                                      <div class="col-sm-6">
                                          <input ng-model="dc_default.netfloc_pass" type="text" class="form-control" id="openstack_ip" value="" />
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName" class="col-sm-4 control-label">WICM IP</label>
                            <div class="col-sm-8">
                                <input ng-model="dc_default.wicm_ip" type="text" class="form-control" id="wicm_ip" value="" ng-change="get_nfvi_from_wicm(dc_default.wicm_ip)" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body" ng-if="dc_default.wicm_ip">
                        <div class="form-group">
                            <label for="tenantName" class="col-sm-4 control-label">WICM PoP id</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-default" ng-model="dc_default.wicm_id" data-html="1" bs-options="nfvi.mkt_id as nfvi.mkt_id for nfvi in nfvis" bs-select placeholder="select">
                                  Action <span class="caret"></span>
                              </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="registerDc(dc_default)" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
