<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <form name="editForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="id">Pop id (id which PoP will be identified)</label>
                            <input ng-model="dc_default.id" type="text" class="form-control" id="pop_id" ng-readonly="emptyId" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="msg">Description</label>
                            <input ng-model="dc_default.msg" type="text" class="form-control" id="message" value="" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName">Tenant name (admin tenant)</label>
                            <input ng-model="dc_default.tenantName" type="text" class="form-control" id="message" value="" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="adminName">Admin user</label>
                            <input ng-model="dc_default.adminName" type="text" class="form-control" id="adminuser" value="admin" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="adminPass">Admin pass</label>
                            <input ng-model="dc_default.adminPass" type="password" class="form-control" id="adminpass" value="" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="openstack_ip">Openstack IP</label>
                            <input ng-model="openstack_ip" type="text" class="form-control" id="openstack_ip" value="8.8.8.8" ng-change="updateOpenstackIP(openstack_ip)" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="keystone_api">Keystone API</label>
                            <input ng-model="dc_default.keystone_api" type="text" class="form-control" id="openstack_ip" value="{{openstack_ip}}" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName">Heat API</label>
                            <input ng-model="dc_default.heat_api" type="text" class="form-control" id="openstack_ip" value="8.8.8.8" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName">Compute API</label>
                            <input ng-model="dc_default.compute_api" type="text" class="form-control" id="openstack_ip" value="8.8.8.8" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName">Neutron API</label>
                            <input ng-model="dc_default.neutron_api" type="text" class="form-control" id="openstack_ip" value="8.8.8.8" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName">DNS</label>
                            <input ng-model="dc_default.dns" type="text" class="form-control" id="openstack_ip" value="8.8.8.8" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <button ng-click="registerDc(dc_default)" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
