<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="node_os">Name:</label>
                            <input ng-if="popInfo.name" type="text" readonly class="form-control" id="node_os" value="{{popInfo.name}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
                    <div class="panel panel-default" ng-repeat="panel in panels">
                        <div class="panel-body">
                                <pre ng-if="!edit" modalscroll ng-jsoneditor ng-model="obj.data" options="obj.options"></pre>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="updateDc(obj.data)" type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>

                <!-- /.box-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
