<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <div id="alerts-container_modal"></div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="ns_id" class="col-sm-2 control-label">NS id</label>
                        <div class="col-sm-10">
                            <input ng-model="object.ns_id" type="text" class="form-control" id="ns_id" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="callbackUrl" class="col-sm-2 control-label">Callback url</label>
                        <div class="col-sm-10">
                            <input ng-model="object.callbackUrl" type="text" class="form-control" id="callbackUrl" value="https://httpbin.org/post">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="flavour" class="col-sm-2 control-label">Select Flavour</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-default" ng-model="object.flavour" data-html="1" bs-options="sla.sla_key as sla.sla_key for sla in nsd.sla" bs-select>
                              Action <span class="caret"></span>
                          </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select_pop" class="col-sm-2 control-label">Select PoP</label>
                        <div class="col-sm-10">
                            <label>
                              <input type="radio" class="radio" value="1" ng-model="object.select_pop" />
                          </label>
                          <button ng-if="object.select_pop == 1" type="button" class="btn btn-default" ng-model="object.pop_id" data-html="1" bs-options="dc.id as dc.name for dc in registeredDcList" bs-select bs-disabled>
                              Action <span class="caret"></span>
                          </button>
                          <!--ul ng-if="object.select_pop == 1">
                              <li ng-repeat="vnfd in nsd.vnfds">
                                  {{vnfd}} <button type="button" class="btn btn-default" ng-model="object.pop_id_[vnfd]" data-html="1" bs-options="dc.id as dc.name for dc in registeredDcList" bs-select bs-disabled>
                                    Action <span class="caret"></span>
                                </button>
                              </li>
                          </ul-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Use service mapping</label>
                        <div class="col-sm-10">
                            <label>
                                <input type="radio" class="radio" value="0" ng-model="object.select_pop" />
                            </label>
                            <button ng-show="object.select_pop == '0'" type="button" class="btn btn-default" ng-model="object.mapping_id" data-html="1" bs-options="mapping.id as mapping.name for mapping in serviceMapping" bs-select>
                                Action <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nap_id" class="col-sm-2 control-label">Nap ID</label>
                        <div class="col-sm-10">
                            <input ng-model="object.nap_id" type="text" class="form-control" id="nap_id" value="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customer_id" class="col-sm-2 control-label">Customer id</label>
                        <div class="col-sm-10">
                            <input ng-model="object.customer_id" type="text" class="form-control" id="customer_id" value="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="instantiate(object)" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
