---
servicename: ns_catalogue
manager: localhost:4000
environment: development
address: 0.0.0.0
port: 4011
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
threaded: true
logstash_host:
logstash_port:

gk:
service_key:

nsd_validator: localhost:4015

dependencies: [nsd_validator]