development:
  sessions:
    default:
      database: ns_catalogue
      hosts:
      - 127.0.0.1:27017
      user: username
      password: password

test:
  sessions:
    default:
      database: ns_catalogue_test
      hosts:
      - 127.0.0.1:27017

production:
  sessions:
    default:
      database: ns_catalogue
      hosts:
      - 127.0.0.1:27017
      user: username
      password: password
