<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Logo -->
                <div class="logo" ng-class="sidebarCollapse">
                    <h1>{{{sidebarCollapse}}
                        <a href="index.html">
                        <img width="100px" src="images/tenor_logo.png"/></a>
                    </h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown" ng-show="user">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
