---
servicename: vnf_monitoring
manager: localhost:4567
environment: development
address: 0.0.0.0
port: 4573
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
threaded: true
logger_host: 127.0.0.1
logger_port: 24224

dependencies: [ns_manager, vim_monitoring, vnf_manager]
