---
servicename: vnf_monitoring
manager: localhost:4567
environment: development
address: 0.0.0.0
port: 4573
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
threaded: true
logger_host: 127.0.0.1
logger_port: 24224

ns_manager:
vim_monitoring: 10.10.1.62:8080
vnf_monitoring_repo: 127.0.0.1:4018

dependencies: [ns_manager, vim_monitoring, vnf_monitoring_repo]
