development:
  adapter: sqlite3
  database: db/tnova_orchestrator_dev.sqlite3
  
production:
  adapter: postgresql
  database: tnova_orchestrator
  user: tnova
  password: i2cat
  host: 127.0.0.1

test:
  adapter: postgresql
  database: tnova_orchestrator_test
  user: tnova
  password: i2cat
  host: 127.0.0.1
