development:
  host: 127.0.0.1
  keyspace: tnova_monitoring_dev
  username: username
  password: password

production:
  host: 127.0.0.1
  keyspace: tnova_monitoring
  username: username
  password: password

test:
  host: 127.0.0.1
  keyspace: tnova_monitoring_test
  username: username
  password: password
