---
servicename: ns_monitoring
manager: localhost:4000
environment: development
address: 0.0.0.0
port: 4014
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
threaded: true
logger_host: 127.0.0.1
logger_port: 24224

vnf_manager: http://localhost:4567
ns_provisioner: 10.10.1.61:4012
ns_monitoring_repo: 10.10.1.61:4017

gk:
service_key:

dependencies: [ns_monitoring_repo, ns_provisioner, vnf_manager]
