---
servicename: ns_monitoring
environment: development
manager: localhost:4000
address: 0.0.0.0
port: 4014
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false
threaded: true
logstash_host: 127.0.0.1
logstash_port: 5228

vnf_manager: http://localhost:4567
ns_provisioning: 10.10.1.61:4012
ns_monitoring_repo: 10.10.1.61:4017

gk:
service_key:

dependencies: [ns_monitoring_repo, ns_provisioning, vnf_manager]