development:
  sessions:
    default:
      database: ns_monitoring_dev
      hosts:
      - 127.0.0.1:27017

test:
  sessions:
    default:
      database: ns_monitoring_test
      hosts:
      - 127.0.0.1:27017

production:
  sessions:
    default:
      database: ns_monitoring
      hosts:
      - 127.0.0.1:27017