<div class="fullscreen-wrapper ng-scope">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body">
            <img src="images/tenor_logo.png" alt="" style="width: 300px;">
            <p class="login-box-msg ng-binding">Sign in to start your session</p>
            <!-- ngIf: loginError -->
            <form ng-submit="login()" class="ng-pristine ng-valid">
                <div class="form-group has-feedback">
                    <input ng-model="username" type="text" name="user" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Username">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input ng-model="password" type="password" name="pass" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

</div>
